@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Amiko|Merriweather|Montserrat');

/* ---------------------------- */
/* RESET BEFORE START           */
/* ---------------------------- */

* {
  margin: 0px;
  padding: 0px;
}

/* ---------------------------- */
/* BASIC STYLES                 */
/* ---------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

p, div, a, textarea, input, button {
  font-family: 'Montserrat', 'Amiko', sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4080FF;
  margin: 1.3em 0;
  padding: 0;
  clear: both; 
}

/* KBD TAG -------------------- */

kbd {
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    background: #FFF;
    color: #333;
}

kbd:hover {
    border: 1px solid #4080FF;
    background: #4080FF;
    color: #FFF;
}

/* CODE TAG ------------------- */

code {
  display: block;
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px 5px 5px 15px;
  color: #333;
  border-left: 3px solid #aaa;
  transition: all 0.28s linear;
}

code:hover {
  border-left: 3px solid #4080FF;
  padding: 5px 5px 5px 20px;
  color: #000;
}

/* FORM STUFF ----------------- */

input[type="text"], textarea {
  width: 200px;
  height: 20px;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  transition: border 0.28s linear;
}

input[type="text"]:hover, textarea:hover {
  border: 1px solid #aaa;
}

input[type="text"]:focus, textarea:focus {
  border: 1px solid #4080FF;
}

input[type="text"]:out-of-range, textarea:out-of-range {
  border: 1px solid #FF4040;
}

button {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  background-color: #fff;
  color: #ccc;
  outline: none;
  transition: all .28s linear;
}

button:hover {
  border: 1px solid #aaa;
  color: #aaa;
}

button:focus {
  border: 1px solid #4080FF;
  color: #4080FF;
}

button[class="colored"] {
  border: 1px solid #1672af;
  background-color: #4080FF;
  color: #FFF;
}

button[class="colored"]:hover {
  border: 1px solid #4080FF;
  background-color: #4080FF;
}

button[class="colored"]:active {
  border: 1px solid #4080AA;
  background-color: #4080AA;
}


/* ---------------------------- */
/* FUNCTIONAL STUFF             */
/* ---------------------------- */

/* Modal */

@keyframes bloom-fade-black {
    from {background-color: rgba(10, 10, 10, 0);}
    to {background-color: rgba(10, 10, 10, 0.7);}
}

@keyframes bloom-modal-display {
    from {opacity: 0; top: -10%;}
    to {opacity: 1; top: 20%;}
}

@keyframes close {
    0% {display: block; opacity: 1;}
    20% {opacity: 0.8;}
    40% {opacity: 0.6;}
    60% {opacity: 0.4;}
    80% {opacity: 0.2;}
    100% {display: none; opacity: 0;}
}

.bloom-black-frame {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9998;
  background-color: rgba(10, 10, 10, 0.7);
  animation-name: bloom-fade-black;
  animation-duration: 0.28s;
}

.bloom-modal-frame {
  position: relative;
  float: none;
  width: auto;
  min-width: 30%;
  max-width: 50%;
  top: 20%;
  height: auto;
  min-height: 40%;
  max-height: 70%;
  margin: auto;
  padding: 5px;
  overflow: auto;
  border: 4px solid #CCC;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 5px 5px
rgba(0,0,0,0.1);
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  animation-name: bloom-modal-display;
  animation-iteration-count: 1;
  animation-duration: 0.20s;
}

.bloom-black-frame-reverse {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.7);
  animation-name: close;
  animation-duration: 0.28s;
}

.bloom-modal-frame #modal-close {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
  cursor: pointer;
  background-image: url(../assets/vectors/close.svg);
  background-position: center;
  background-size: 32px;
}

.bloom-modal-frame #modal-close:focus {
  border-color: #e44061;
}

/* SnackBar */

.bsnack-bar {
  position: fixed;
  border-radius: 3px;
  border: 1px solid #333;
  width: 70%;
  height: 50px;
  background-color: #111;
}

.bar-position-top {
  left: 15%;
  top: -4px;
}

.bar-position-bottom {
  left: 15%;
  bottom: -4px;
}

.bsnack-bar button[class="snack"] {
  position: absolute;
  right: 10px;
  top: 4px;
  left: auto;
  bottom: auto;
  margin: 5px;
  border: 1px solid #333;
  background-color: inherit;
  color: #FFF;
}

.bsnack-bar button[class="snack"]:hover {
  border: 1px solid #333;
  background-color: #333;
}

.bsnack-bar button[class="snack"]:active {
  border: 1px solid #3498ff;
  background-color: #3498ff;
}

.bsnack-bar p {
  display: inline-block;
  margin: 15px;
  font-size: 14px;
  color: #FFF;
}


/* Chip */

.bloom-chip {
  float: left;
  width: auto;
  height: 36px;
  margin: 5px;
  background-color: #efefef;
  border-radius: 30px;
  cursor: default;
  transition: all 0.28s linear;
}

.bloom-chip:hover {
  background-color: #ccc;
}

.bloom-chip .pic {
  width: 36px;
  height: 36px;
  float: left;
  display: inline-block;
  border-radius: 100%;
  pointer-events: none;
}

.bloom-chip p {
  float: left;
  font-size: 14px;
  color: #444;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 9px;
}

.bloom-chip .close {
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  transition: background 0.28s linear;
}

.bloom-chip .close:hover {
  background-color: #FF4040;
}

.bloom-chip .close:active {
  background-color: #BB2020;
}


/* ---------------- */
/* SWITCH - DEFAULT */
/* ---------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #aaa;
  transition: .28s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .28s;
}

/* DEFAULT COLOR - BLUE */

input:checked + .slider {
  background-color: #4080FF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4080FF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* --------------------- */
/* SWITCH RED - ALTERN 1 */
/* --------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider-red {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #aaa;
  transition: .28s;
}

.slider-red:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .28s;
}

input:checked + .slider-red {
  background-color: #FF4040;
}

input:focus + .slider-red {
  box-shadow: 0 0 1px #FF4040;
}

input:checked + .slider-red:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-red.round {
  border-radius: 34px;
}

.slider-red.round:before {
  border-radius: 50%;
}


/* ---------------------------- */
/* SWITCH DEFAULT - TRANSPARENT */
/* ---------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider-transparent {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  transition: .28s;
}

.slider-transparent:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  transition: .28s;
}

input:checked + .slider-transparent {
  background-color: #4080FF;
}

input:focus + .slider-transparent {
  box-shadow: 0 0 1px #4080FF;
}

input:checked + .slider-transparent:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.slider-transparent.round {
  border-radius: 34px;
}

.slider-transparent.round:before {
  border-radius: 50%;
}


/* ---------------------------- */
/* INTERACTION ELEMENTS         */
/* ---------------------------- */

/* CALL CARD ------------------ */

.bloom-contact-card {
  clear: both;
  margin-bottom: 8px;
  width: 220px;
  height: 70px;
  margin: 10px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #CCC;
  padding: 5px;
}

.bloom-call-to {
  float: left;
  clear: none;
  width: 70px;
  height: 100%;
  background-color: #FFF;
  font-size: 16px;
  color: #CCC;

  border: 1px solid #CCC;
  border-radius: 3px;
  
  cursor: pointer;
  outline: none;
  transition: all 0.28s ease-in-out;
}

.bloom-call-to:hover {
  color: #AAA;
  border-color: #AAA;
}

.bloom-call-to:focus {
  color: #FFF;
  border-color: #4080FF;
  background-color: #4080FF;
}

.bloom-call-number {
  float: right;
  margin-top: 26px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #777;
}

/* SOCIAL HUB ----------------- */

.bloom-social-hub {
  float: left;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
}

.bloom-social-hub .networks {
  list-style-type: none;
}

.bloom-social-hub .networks li {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 3px;
  margin: 10px;  
}

.bloom-social-hub .networks .line {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 7px;
}

.bloom-social-hub .networks .line:nth-child(1) {
  display: inline-block;
  margin-left: 10px;
}

.bloom-social-hub .facebook {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/facebook-32.png') center no-repeat;
}

.bloom-social-hub .twitter {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/twitter-32.png') center no-repeat;
}

.bloom-social-hub .youtube {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/youtube-32.png') center no-repeat;
}

.bloom-social-hub .vkontakte {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/vk-32.png') center no-repeat;
}

.bloom-social-hub .instagram {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/instagram2-32.png') center no-repeat;
}

.bloom-social-hub .pinterest {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/pinterest-32.png') center no-repeat;
}

.bloom-social-hub .linkedin {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/linkedin-32.png') center no-repeat;
}

.bloom-social-hub .github {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/github-32.png') center no-repeat;
}

.bloom-social-hub .google {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/google-32.png') center no-repeat;
}

.bloom-social-hub .tumblr {
  background: url('https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/tumblr-32.png') center no-repeat;
}

/* ---------------------------- */
/* ELEMENTS FOR WEB MESSENGERS  */
/* ---------------------------- */

.chat-bubble {
  display: block;
  float: left;
  position: relative;
  
  min-width: 160px;
  max-width: 60%;
  width: auto;
  height: auto;
  padding: 15px;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  
  font-size: 14px;
  cursor: default;
  color: white;
  border-radius: 3px;
}

.chat-odd {
  float: left;
  background-color: #ddd;
  color: #555 !important;
  transition: all 0.28s linear;
}

.chat-odd:hover {
  color: #000 !important;
}

.chat-even {
  float: right !important;
  background-color: #4080FF;
}

.bubble-down {
  position: absolute;
  
  width: 16px;
  height: 16px;
  left: 16px;
  bottom: -8px;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  display: block;
}

.bubble-up {
  position: absolute;
  
  width: 16px;
  height: 16px;
  left: 16px;
  top: -8px;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  display: block;
}

.bubble-left {
  position: absolute;
  
  width: 16px;
  height: 16px;
  left: -8px;
  top: 25%;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  display: block;
}

.bubble-right {
  position: absolute;
  
  width: 16px;
  height: 16px;
  right: -8px;
  top: 25%;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  display: block;
}

.bubble-round {
  border-radius: 10px;
}