@charset "utf-8";

/* BACKGROUND FLAT COLORS */

.bg-alizarin {
    background-color: #e74c3c;
}

.bg-pomegranate {
    background-color: #c0392b;
}

.bg-peterriver {
    background-color: #3498db;
}

.bg-belizehole {
    background-color: #2980b9;
}

/* ---------------------------- */
/* INPUTS                       */
/* ---------------------------- */

.bloom-input {
  width: 200px;
  height: 20px;
  padding: 10px;
  border: 3px solid #CCC;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.bloom-input:focus {
  border: 3px solid #3498db;
}

/* ---------------- */
/* TOGGLE - DEFAULT */
/* ---------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* DEFAULT COLOR - BLUE */

input:checked + .slider {
  background-color: #3498db;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3498db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* --------------------- */
/* TOGGLE RED - ALTERN 1 */
/* --------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider-red {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-red:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-red {
  background-color: #e74c3c;
}

input:focus + .slider-red {
  box-shadow: 0 0 1px #e74c3c;
}

input:checked + .slider-red:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-red.round {
  border-radius: 34px;
}

.slider-red.round:before {
  border-radius: 50%;
}


/* ---------------------------- */
/* TOGGLE DEFAULT - TRANSPARENT */
/* ---------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider-transparent {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-transparent:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-transparent {
  background-color: #3498db;
}

input:focus + .slider-transparent {
  box-shadow: 0 0 1px #3498db;
}

input:checked + .slider-transparent:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.slider-transparent.round {
  border-radius: 34px;
}

.slider-transparent.round:before {
  border-radius: 50%;
}


/* ---------------------------- */
/* ELEMENTS FOR WEB MESSENGERS  */
/* ---------------------------- */

#chat-bubble {
  float: left;
  position: relative;
  
  min-width: 160px;
  max-width: 50%;
  width: auto;
  height: auto;
  padding: 15px;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}

.chat-odd {
  background-color: #ddd;
  color: #555 !important;
}

.chat-odd:hover {
  color: #000 !important;
}

.chat-even {
  background-color: #4080FF;
}

.bubble-down {
  position: absolute;
  
  width: 16px;
  height: 16px;
  left: 16px;
  bottom: -8px;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  display: none;
}

.bubble-up {
  position: absolute;
  
  width: 16px;
  height: 16px;
  left: 16px;
  top: -8px;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  display: none;
}

.bubble-left {
  position: absolute;
  
  width: 16px;
  height: 16px;
  left: -8px;
  top: 25%;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  display: none;
}

.bubble-right {
  position: absolute;
  
  width: 16px;
  height: 16px;
  right: -8px;
  top: 25%;
  
  background-color: inherit;
  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bubble-round {
  border-radius: 10px;
}
